<div id="divpadrao" class="container">
    <div class="row">
        <h1>Quem Somos</h1>
    </div><br>
    <div class="row">
        <h4>ALTERNAE</h4>
        <p>Lorem ipsum dolor sit amet. Aut sunt necessitatibus ad tempore quia quo temporibus praesentium eum dolorum
            praesentium eos error aspernatur cum saepe quod. Officia consequatur sit officia eligendi At nostrum
            provident. A voluptatibus similique est blanditiis dolor quo distinctio voluptas. Ex quas veniam non
            consectetur voluptate sed voluptas asperiores et modi excepturi ut aspernatur debitis!
        </p>
        <p>
            Ut fugiat voluptate sit modi dolores quo minima atque qui laudantium adipisci eum facere consequatur. Et
            alias nemo aut repellat pariatur non aspernatur velit! In aliquid blanditiis sit fuga libero et aspernatur
            eligendi et eaque nihil.
        </p>
        <p>
            Ut quos corporis sed repudiandae quibusdam sed repellendus sint. Sit minima repudiandae non assumenda
            perferendis qui omnis voluptatem At quaerat maxime hic quia exercitationem ut velit numquam aut veritatis
            unde. Ut dolorem asperiores ea recusandae quasi et maiores optio ad suscipit architecto!
        </p>
    </div><br>
    <div class="row">
        <div class="col-sm">
            <h4>MISSÃO</h4>
            <p>
                Lorem ipsum dolor sit amet. Sit nihil nihil ut esse accusantium sit voluptas ad expedita similique sit
                nulla sequi non quasi accusamus! Cupiditate alias et impedit saepe ea nihil eaque est vitae neque! Vel
                quos quos aut praesentium amet ab Quis quia est consequatur fugit vel corporis incidunt.
            </p>
        </div>
        <div class="col-sm">
            <h4>VALORES</h4>
            <p>
            <ul>
                <li>Integridade</li>
                <li>Comprometimento</li>
                <li>Valorização humana</li>
                <li>Superação dos resultados</li>
                <li>Melhoria contínua</li>
                <li>Inovação</li>
                <li>Sustentabilidade</li>
            </ul>
            </p>
        </div>
        <div class="col-sm">
            <h4>VISÃO</h4>
            <p>
                Lorem ipsum dolor sit amet. Ut amet culpa vel facilis illo qui ducimus eos iste inventore est voluptas
                officiis. Ut tempore dolores non enim earum rem commodi nostrum non pariatur accusantium. Hic tempore
                accusamus et maxime expedita et architecto dolores est exercitationem consequatur ab ipsam sint non
                libero itaque est facere placeat! Vel voluptas tenetur a maiores commodi eum recusandae corporis aut
                iusto reiciendis. Ex error accusantium aut aliquam doloribus hic eligendi voluptatibus sed mollitia sunt
                qui omnis asperiores
            </p>
        </div>
    </div><br>
</div>