<div>
    <img style="width: 100%;" src="/laudo.jpg">
</div>

<div id="divpadrao" class="container">
    <div class="row">
        <h1>Laudo</h1>
    </div><br>

    <div  class="row">

        <p>Lorem ipsum dolor sit amet. Aut dolore dolore qui beatae alias qui dolorem molestiae et maiores recusandae ea
            dicta facere. Ea quia quibusdam cum ipsa enim in sunt impedit aut aperiam quos.
        </p>
        <p>
            Quo sint esse et voluptas ullam id tempora architecto in nemo cupiditate vel atque omnis non galisum omnis
            ea voluptatem numquam. Et optio eveniet et exercitationem rerum non sequi harum qui tempore ipsa cum debitis
            voluptates.
        </p>
        <p>
            Ex aperiam doloremque et asperiores iusto id sunt iure et perspiciatis ipsam cum magni vero sit voluptatem
            consectetur. Eum voluptatem minus aut dicta magni quo nihil quaerat. Et iure eveniet eum inventore
            laboriosam eos sunt eius sit quasi nesciunt qui inventore atque ea obcaecati velit est omnis modi? At
            eligendi odio qui ipsam architecto qui illo assumenda et labore totam At recusandae voluptatem a quia
            praesentium.
        </p><br>
        <a href="contact">
            <h4>Solitice um orçamento</h4>
        </a>
    </div>
</div><br>