<div>
    <img style="width: 100%;" src="/manutenção.jpg">
</div>
<div id="divpadrao" class="container">
    <div class="row">
        <h1>Manutenção</h1>
    </div><br>
    <div class="row">

        <p>Lorem ipsum dolor sit amet. Est molestiae atque sed doloremque porro qui ipsa rerum sit ipsum quas At dolores
            reprehenderit? Id soluta laboriosam ut maxime galisum est necessitatibus labore. Qui voluptatem porro ad
            fugit vero ad tempora quod aut eaque rerum non dolores numquam ea ratione delectus et sint quibusdam!
        </p>
        <p>
            Ad minima repudiandae et architecto unde quo nisi voluptatem vel quisquam doloremque ut amet cupiditate ut
            incidunt totam qui dolor impedit! Est aliquid provident 33 molestiae similique eum alias provident qui iure
            pariatur?
        </p>
        <p>
            Voluptatem autem nam quis voluptas ad atque nostrum. Non quam autem et enim perspiciatis ex harum provident.
            Est placeat aliquam qui quae impedit non doloremque? Et nisi impedit sed dolor odio sed sunt odio qui nihil
            corrupti et inventore voluptatibus et sapiente galisum et aliquam rerum.
        </p>
        <p>
            In quae saepe et tenetur omnis qui officia cupiditate ut voluptates ut eaque nesciunt in laboriosam
            molestiae! Ad labore dolor aut magnam perferendis sed laborum quis.
        </p><br>
        <a href="contact"><h4>Solitice um orçamento</h4></a>
    </div>
</div><br>