<div>
    <img style="width: 100%;" src="/projeto.jpg">
</div>

<div id="divpadrao" class="container">
    <div class="row">
        <h1>Projeto</h1>
    </div><br>
    <div class="row">

        <p>Lorem ipsum dolor sit amet. Id mollitia explicabo est debitis labore ad cupiditate saepe est corporis omnis
            eos dolores iste vel facere nisi. Non fugit repudiandae sit dicta quia ut deleniti dolor sed beatae
            aspernatur.
        </p>
        <p>
            Ut modi nesciunt et possimus voluptatem non aliquam facilis? Et atque amet et enim quis in explicabo nemo
            aut placeat velit qui suscipit reiciendis ut quidem quidem et galisum nemo. At voluptatibus voluptas et
            dolorem explicabo et commodi quasi et expedita voluptatum. Et quae accusamus ut itaque aperiam aut deserunt
            quas ea saepe reiciendis.
        </p>
        <p>
            Aut delectus maxime et internos tenetur ea quia dignissimos sed iusto voluptatem aut vitae neque et amet
            alias id quis fugit. Sed dolorem laboriosam aut consectetur excepturi At voluptatem laudantium et suscipit
            enim qui autem molestiae.
        </p>
        <p>
            Id aperiam expedita et laudantium galisum sit minus autem non fuga iste aut omnis dolores est officia
            voluptas. Rem exercitationem quis et officia voluptate aut earum excepturi et accusantium enim.
        </p>
        <p>
            Ad magni temporibus qui minima consequatur ea maxime dolores At sint neque dolorum sunt ut magnam veritatis
            sit nulla explicabo. Vel beatae obcaecati a saepe omnis est fugiat sunt At ratione ratione 33 asperiores
            deleniti!
        </p><br>
        <a href="contact"><h4>Solitice um orçamento</h4></a>
    </div>
</div><br>